{{ define "main" }}
  <main>
    <ul
      class="grid max-w-5xl grid-cols-1 gap-8 p-8 mx-auto sm:grid-cols-2 lg:grid-cols-3"
    >
      {{ range .Paginator.Pages }}
        {{ $thumbnail := .Resources.GetMatch "thumbnail.png" }}
        <li class="overflow-hidden bg-white rounded shadow-lg">
          <a href="{{ .RelPermalink }}">
            <img src="{{ $thumbnail.RelPermalink }}" alt="" />
            <div class="p-2">
              <h2 class="text-xl font-bold">{{ .Title }}</h2>
              <div class="mt-5 text-justify">
                {{ .Summary }}
              </div>
            </div>
          </a>
        </li>
      {{ end }}
    </ul>
    {{ partial "pagination.html" . }}
  </main>
{{ end }}
