{{ define "main" }}
  <main class="px-5 pt-6 lg:pt-10 xl:pt-14 lg:px-10 xl:px-14">
    <section
      class="flex flex-col items-center justify-between max-w-6xl mx-auto space-x-6 lg:flex-row"
    >
      <div class="w-full text-center lg:text-left lg:w-1/2">
        <span class="block text-xl">La</span>
        <h1 class="my-4 text-4xl font-bold leading-tight sm:text-5xl">
          Olimpiada Informática Ecuatoriana
        </h1>
        <span class="block mb-8 text-2xl leading-normal">
          les da la más cordial bienvenida a nuestro sitio web oficial, creado
          con el objetivo de fomentar el estudio de la Informática y Ciencias de
          la Computación en el Ecuador
        </span>
      </div>
      <div
        class="flex items-center justify-center w-full lg:justify-end lg:w-1/2"
      >
        <img
          class="w-full h-auto max-w-xl"
          src="/logo-oiec.svg"
          alt="Logo de la OIEC"
        />
      </div>
    </section>
    <section>
      <h2>Noticias</h2>
    </section>
  </main>
{{ end }}
